img {
  width: 100%;
}
.card-data {
  margin-top: 50px;
  transition: 0.3s;
}
.card-data:hover {
  margin-top: 40px;
}
.card-context {
  background-color: rgba(36, 36, 36, 0.605);
}
.ellipsis {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: justify;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  }