// navbar 
.navbar-nav a{
  font-size: 16px;
  text-decoration: none;
  color:#fff;
}
.navbar-login a{
  font-size: 20px;
}
.logo img{
  width: 100%;
  color: #fff;
}
.bgcY {
  background-color: rgba(0, 0, 0, 0.5);
}
@media(max-width: 768px) {
  .mobile-nav {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 1);
}
.navbar-dark .navbar-text{
  color: white;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}
/* 購物車 */
.btn-shop-cart{
  background-color: rgba(250, 250, 250, 0);
  position: relative;
}
.shop-cart{
  position: absolute;
  top:3px;
  right:-2px;
  font-size: 13px;
};
.blur{
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-menu{
  border-radius: 5px;
  backdrop-filter: blur(60px);
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 300px;
  padding: 10px 10px;
}
.table {
  font-size: 14px;
}
.ell {
  max-width: 100px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart_del_btn {
  cursor: pointer;
}
.text-align-center {
  text-align: center;
}